/target/
/logs/
/scripts/
/.idea/
/er-overlay-local-test
/er-overlay-local-test/
/er-overlay-local-test/*
**/bin/**
**/obj/**
**/__pycache__/**
**/.idea/**
/.cursor/*
/layout-editor-test/*
/er-overlay-local-test.zip
er-overlay-local-test.zip
